:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: white;
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: white;
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: white;
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: white;
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: white;
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: white;
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: white;
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: white;
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
  --background: oklch(1 0 0);
  --foreground: white;
}

